	body
	{
		background-image: linear-gradient(to right, rgba(200,100,0,.5), white);
	}

	h2{
 		
 		font-size: 80px;
 		color: black;
 		font-weight: bold;
 		font-family: 'Abril Fatface', cursive;
 		font-style: italic;
 		text-shadow: 2px 2px red;
 	}
 	.jumbotron
 	{
 		  background-image: linear-gradient(to right,  white, #4dff4d);
 		  box-shadow: 0px 0px 8px 8px red;
 		  border-radius: 0px;
 		
 	}
 	.r
 	{
 		border-bottom: 1px solid grey;
 		padding-bottom: 10px;

 	}

.row
{
	margin-left: 0px;
	margin-right: 0px;
}
h1
{
	color:rgba(0,0,0,.7);
	font-style: italic;
}
h3
{
	color:rgba(0,100,250,.9);
	font-weight: bold;
}
.l
{
	color:rgba(0,100,250,.9);
	font-size: 25px;
	text-transform: capitalize;
}