	h2{
 		
 		font-size: 80px;
 		color: #ff4d4d;
 		font-weight: bold;
 		font-family: 'Abril Fatface', cursive;
 		font-style: italic;
 	}
 	.jumbotron
 	{
 		  background-image: linear-gradient(to right,  #ffb3b3, #f2ffe6);
 		
 	}
 	.r
 	{
 		border-bottom: 1px solid grey;
 		padding-bottom: 10px;

 	}


h1
{
	color:grey;
	font-style: italic;
}