	h2{
 		
 		font-size: 80px;
 		color: black;
 		font-weight: bold;
 		font-family: 'Abril Fatface', cursive;
 		font-style: italic;
 	}
 	.jumbotron
 	{
 		  background-image: linear-gradient(to right,  #b3c6ff, #f2ffe6);
 		
 	}
 	.r
 	{
 		border-bottom: 1px solid grey;
 		padding-bottom: 10px;

 	}

.row
{
	margin-left: 0px;
	margin-right: 0px;
}


h1
{
	color:grey;
	font-style: italic;
}
